@font-face {
	font-family: "PixelOperator";
	src: url('../fonts/PixelOperator.ttf');
}

@font-face {
	font-family: "PixelOperator";
	font-weight: bold;
	src: url('../fonts/PixelOperator-Bold.ttf');
}

#index-body {
	background-image: url(../img/indexback.png);
	margin: 0px;
}

#index-header {
	margin-left: 25%;
	text-align: center;
	width: 50%;
}

#index-presentation {
	background-color: white;
	border-radius: 30px;
	border: 1px dotted black;
	font-family: PixelOperator;
	font-size: 250%;
	margin-top: 50px;
	margin-left: 10%;
	padding-left: 5%;
	width: 80%;
}

#index-first-version {
	display: inline-block;
	margin-left: 10%;
	width: 16%;
}

#index-version {
	display: inline-block;
	margin-left: 5%;
	width: 16%;
}

#index-first-version, #index-version {
	margin-top: 50px;
}

#index-version img, #index-first-version img {
	width: 90%;
}
